{% extends "layouts/base.html" %}
  {% block link %}
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

  {% endblock %}
{% block title %} 
  <title>
     {{title}} -All Diary
  </title>
{% endblock %} 
  
{% block content %}

<div class="container">
    
  {% if posts  %}
    
    <table class="table">
        <thead class="table-primary">
            <tr>
                <td scope="col">#</td>
                <td scope="col">หัวข้อ</td>
                <td scope="col">Delete</td>
            </tr>
        </thead>
        <tbody>
          {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.head}}</td>
                <td>
                    <form action="{{url_for('main_bp.del_post',id=post.id) }}" method="post">
                        
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
  
  {% endif %}


</div>

{% endblock  %}

