{% extends "layouts/base.html" %}
  {% block link %}
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap" rel="stylesheet">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{url_for('main_bp.index')}}">
    <meta property="og:image" content="https://i.imgur.com/9BHlnlV.png">
  {% endblock %}
{% block title %} 
  <title>
     {{title}} -All Diary
  </title>
{% endblock %} 
  
{% block content %}

<div class="container">
    
  {% if posts  %}
    {% for post in posts %}
    <div class="card">
      <div class="card__header">
        <img src="{{ post.img_url }}" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        
        <span class="tag tag-blue"><a href="{{ url_for('main_bp.tagpost',tag=post.tag)}}">{{post.tag}}</a></span>
        <h4><a href="{{ url_for('main_bp.seepost',id=post.id) }}">{{post.head}}</a></h4>
        <p>{{post.body|safe|truncate(120,False,'...') }}</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <div class="circular">
            <img src="{{url_for('static',filename='user_image/user1.jpg')}}" alt="user__image" class="user__image">
          </div>
          <div class="user__info">
            <h5>PharmBook</h5>
            <small>{{momentjs(post.timestamp).format('LLLL')}}</small>
          </div>
        </div>
      </div>
    </div>
    

    {% endfor %}
  
  {% endif %}
</div>
{% include 'layouts/__page.html' %}

{% endblock  %}

